<div class="form-check form-check-inline" >
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="all" [formControl]="filterControl" value="all">
  <label class="form-check-label" for="all">All</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="d1" [formControl]="filterControl" value="1">
  <label class="form-check-label" for="d1">D1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="d2" [formControl]="filterControl" value="2">
  <label class="form-check-label" for="d2">D2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="d3" [formControl]="filterControl" value="3">
  <label class="form-check-label" for="d3">D3</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="d4" [formControl]="filterControl"value="4">
  <label class="form-check-label" for="d4">D4</label>
</div>
<hr>